<div class = "contact_page">
  <h1>
     <%= " There are #{Contact.count} contacts"%>
  </h1>

    <ul>
      <% @contacts.each do |contact| %>
        <li>
          <a href=""> <%= Contact.first_name%> </a>
            <%= "#{contact.first_name} #{contact.last_name}"%> <%="(#{contact.email})"%>
          <p> <a href="#">Edit</a> | <a href="#">Delete</a> </p>
        </li>
      <% end %>
    </ul>

</div>
